body {
    font-family: 'Questrial', sans-serif;
}

.home {
    background-color: #5b0ea3;
    margin: 20px;
    padding: 7px;
}

a {
    color: white;
    margin: 10px;
    text-decoration: none;
}

img {
    width: 230px;
    height: 235px;
    
}

h1 {
    color: white;
    margin: 30px;
}

.img2 {
    width: 950px;
    height: 500px;
}

h2 {
    color: black;
    margin: 30px;
    text-align: center;
}

h3 {
    color: black;
    margin: 45px;
    text-align: center;
}

.paragrafi {
    margin: 30px;
    color: black;
    text-align: justify;
}

td {
    border: 2px solid #000;
}

.mappa {
    align: center;
}

.people {
    border: 2px solid #000;
}

.contatti {
    color: black;
}
